/* Navbar Background Image */
.bg-img {
    background-image: url('/static/images/bamboo.png');
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    border-bottom: 4px solid #1b4d0e;
    border-left: 4px solid #1b4d0e;
    border-right: 4px solid #1b4d0e;
    width: 66.65%;
    margin-left: 315px;
}

/*Navbar Styling*/
nav {
    float: left;
    width: 100%;
    height: 65px;
    text-align: center;
}
nav ul {
    width: 100%;
    height: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff80;
    display: flex;
}
nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 65px;
    display: block;
    color: #000000;
    padding: 15px 7px;
    border-right: 3px solid #1b4d0e;
    text-decoration: none;
    font-size: 25px;
}
nav a:hover {
    background-color: #008a3e70;
    font-weight: 550;
}

.logo {
    height: 50px;
    border-right: 3px solid #1b4d0e;
    padding: 10px 5px;
}

/* Dropdown menu styling */
.drop-button {
    background-color: #ffffff80;
    padding: 5px;
    font-size: 16px;
    border: none;
    height: 65px;
    width: 70px;
    border-left: 4px solid #1b4d0e;
}

.dropdown {
    position: relative;
    float: right;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #28af0680;
    width: 74px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.drop-content a {
    color: #000000;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {
    background-color: #008a3e70;
    font-weight: 550;
}

.dropdown:hover .drop-content {
    display: block;
}
.dropdown:hover .drop-button img {
    background-color: #008a3e70;
}

/* Main content styling*/
h1 {
    margin: 0;
    padding-top: 20px;
}

body {
    margin: 0;
}

.main-bg-img {
    background-image: url('../static/images/red_panda.jpg');
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.main-bg-img-edu {
    background-image: url('../static/images/lion.jpg');
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

main {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 315px;
    margin-right: 315px;
    background-color: #ffffff80;
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 4px solid #1b4d0e;
    border-right: 4px solid #1b4d0e;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main a {
    font-size: 20px;
    text-decoration: none;
    color: #156b00;
}
main a:hover {
    font-weight: 700;
    color: #294921;
}

/* Index page content on login */
.welcome {
    font-size: 20px;
    font-weight: 600;
    color: #156b00;
}

/* Terms & Conditions page content */
.terms {
    padding: 0 150px;
}

/* Booking center content */
#booking-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* Ticket booking section on the booking page */
.ticket-booking {
    padding: 200px;
}
.ticket-booking img {
    height: 200px;
    width: auto;
}

/* Hotel booking section on the booking page */
.hotel-booking {
    padding: 200px
}
.hotel-booking img {
    height: 200px;
    width: auto;
}

/* Footer Styling*/
footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-top: 4px solid #1b4d0e;
    border-left: 4px solid #1b4d0e;
    border-right: 4px solid #1b4d0e;
    background-color: #D9F2D0;
    color: #000000;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    width: 65.6%;
    margin-left: 315px;
}
footer a {
    margin: 0;
    padding:0;
    color: #1b4d0e;
    text-decoration: none;
    float: left;
    margin-left: 50px;
    font-weight: 600;
}
footer a:hover {
    color: #3ba820;
}

.right-footer {
    padding-top: 10px;
    padding-left: 760px;
    float: right;
}

/* Form Styling */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 30px;
}
.form.button {
    background-color: #1b4d0e;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Flash Message Styling */
.flash-center {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}

.alert {
    background: #c3ffc3be;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}