{% extends 'layout.html' %}

{% block content %}
<div class="main-bg-img" role="img">
    <main role="main">
        <h1>Booking</h1>
        <div id="booking-content">
            <div class="top-row">
                <div class="ticket-booking">
                    <h2>Ticket Booking</h2>
                    <img src="{{ url_for('static', filename='images/ticket_icon.png') }}" alt="">
                    <a href="{{ url_for('ticket_booking') }}" class="booking-button">BOOK</a>
                </div>
                <div class="hotel-booking">
                    <h2>Hotel Booking</h2>
                    <img src="{{ url_for('static', filename='images/hotel_icon.png') }}" alt="">
                    <a href="{{ url_for('hotel_booking') }}" class="booking-button">BOOK</a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}