<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <Title>Riget Zoo Adventures</Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/RZA_Logo.png') }}">
    </head>
    <body>
        <div class="bg-img" role="img" style="background-image: url('../static/images/bamboo.jpg');">
            <nav role="navigation">
                <ul>
                    <img class="logo" src="{{ url_for('static', filename='images/RZA_Logo.png') }}" alt="Regit Zoo Adventures Logo">
                    <li><a href="{{ url_for('index') }}" role="button">Home</a></li>
                    <li><a href="{{ url_for('booking') }}" role="button">Booking</a></li>
                    <li><a href="{{ url_for('education') }}" role="button">Education</a></li>
                    {% if current_user.is_authenticated %}
                        <li><h2 class="welcome">Welcome, {{ current_user.username }}</h2></li>
                    {% endif %}
                </ul>
                <div class="flash-center">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}
                              <div class="alert">{{ message }}</div>
                          {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </nav>
            
            <div class="dropdown">
                <button class="drop-button">
                    <img src="{{ url_for('static', filename='images/account_icon.png') }}" height="55px" alt="Account Icon">
                </button>
                <div class="drop-content">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('admin_account') if current_user.is_admin else url_for('account') }}" role="button">Account</a>
                        <a href="{{ url_for('logout') }}" role="button">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer role="contentinfo">
            <p><a href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a><br><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></p>
            <p class="right-footer">Copyright by Jakub Pietkun 2026&copy; </p>
        </footer>
    </body>
</html>