{% extends 'layout.html' %}

{% block content %}
<div class="main-bg-img">
    <main>
        <h1>Login</h1>
        <br>
        <div id="center-content">
            <form method="post">
                Email: <input type="email" name="email" required><br><br>
                Password: <input type="password" name="password" required><br><br>
                <button type="submit">Login</button>
            </form>
            <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
        </div>
    </main>
</div>
{% endblock %}